/* TODO: Добавить focus- / active-эффект */
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* TODO: Подобрать цвета */
  --hours-color: #fff;
  --minutes-color: #fff;
  --seconds-color: #fff;

  --primary-color: #d8d8d8;
  --primary-color-hover: #727272;
  --primary-background: #0c0b0b;
  color: var(--primary-color);
  background-color: var(--primary-background);
}
html, #root, .app{
  height: 100%;
}
body {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-width: 280px;
  height: 100%;
  color: var(--primary-color);
  font-weight: 600;
}
main{
  padding: 0 15px;
  margin: 0 auto;
}
.app{
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}
a:hover{
  color: var(--primary-color-hover);
  transition: .15s color linear;
}
ul{
  list-style-type: none;
}
@media (max-width: 380px) {
  .clock{
    font-size: 2rem !important;
  }
  .time{
    width: 200px !important;
  }
}